<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Liam D'Arcy - Portfolio</title>
    <link rel="stylesheet" href="/assets/css/default.css">
  </head>
  <body class="{{ bg-image }}">
    <header>
      <h1><a href="/blog" class="menu">Lime Juice</a></h1>
      <div class="menu">
        <a class="menu" href="/tech">Tech Stuff</a>
        <a class="menu" href="#">Art/Gamedev</a>
        <a class="menu" href="#">Contact</a>
      </div>
    </header>
    <main>
      <div class="blogs">
        <h2>{{ title }}</h2>
        {{ content }}
      </div>
    </main>
  </body>
</html>
