body {
  background-color: #3B3B3B;
  margin: 0px;
  font-family: Tahoma, Arial;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 32px;
  font-weight: normal;
  color: white;
  text-align: left;
  margin: 0px;
  padding: 25px 25px 25px 25px;
}

h2 {
  color: white;
  margin: 0px 0px 10px 0px;
}

em {
  color: white;
  font-size: 14px;
}

p {
  color: white;
  font-size: 16px;
}

header {
  background-color: #212121;
  padding: 0px;
  padding-bottom: 10px;
}

a {
  color: lightblue;
  text-decoration: none;
}

img {
  width: 720px;
  border-radius: 2px;
}

div.menu {
  width: 100%;
  display: table;
  table-layout: fixed;
  padding: 0px;
}

a.menu {
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 10px;
  display: table-cell;
  text-align: center;
  margin: 10px;
}

a.title {
  font-size: 32px;
  color: white;
}

div.blogs {
  background: rgba(0,0,0,0.5);
  border-radius: 10px;
  margin: 15px;
  margin-right: 30%;
  padding: 10px;
  backdrop-filter: blur(4px);
}

img.github {
  border-radius: 100%;
  width: 50px;
}

img.youtube {
  width: 50px;
}

img.linkedin {
  width: 50px;
}















